* { /* selector universal */
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-wrap: wrap;
}


body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 10px;
    background-color: #dc3545!important;
}

/*_____ MENU _____*/
.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    background-color: #d60805;
    /* position: fixed; */
    width: 100%;   
    min-height: 2.9rem;
    /* z-index: 10; */
}

.titulo{
    /* display: flex;
    justify-content: flex-start;
    flex: 1; */
    /* background-color: #d60805; */
    /* text-decoration: none; */
    /* color: white; */
    font-size: 2rem!important;
    /* padding: 0.15rem 0.5rem 0.15rem 0rem;
    margin: 0 0.5rem 0 0rem; */
    /* position: absolute;
    top: 0; */
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}


h2 {
    color: #d60805;
    padding: 5px 10px;
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    text-shadow: 2px 2px 2px black;
    font-size: 2.5rem;

    transition: all 2s ease-out;
}

#nosotros:hover h2, #destinos:hover h2, #testimonios:hover h2, #contacto:hover h2 {
    font-size: 3rem;
    transform: translate(40%);
}


/*_____ INICIO _____*/
#video-presentacion {
    /* position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden; */
    display: none;
}

#video-presentacion iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*_____ NOSOTROS _____*/
#nosotros {
    background-image: url(imgs/background-plane.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}



.frase-nosotros {
    font-size: 1.6rem;
    padding: 0px 3.2rem 1.6rem 3.2rem;
    text-align: center;
    text-shadow: 2.4px 2.4px 3.2px gray;
}

.pregunta-xq {
    font-family: 'Roboto Slab',serif;
    text-align: center;
    font-size: 2.3rem;
    background-color: rgba(128,128,128,0.4);
}

.nosotros-lista {
    margin: 5px 10%;
    padding: 10px;
    background-color: rgba(214, 8, 5,0.6);
    color: white;
    list-style-type:upper-latin;
    list-style-position:inside;
}

.nosotros-lista li {
    line-height: 2rem;
    font-size: 1.4rem;
}

.frases-clave {
    font-weight: bold;
}

/*_____ DESTINOS _____*/
#destinos {
    background-color: white;
}

.carousel-item h5 {
    text-shadow: 0.5px 0.5px lightgray;
}

/*_____ TESTIMONIOS _____*/
#testimonios {
    background-color: white;
}

.fotos-testimonios {
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px dashed red; */
}

.fotos  {
    /* border: 1px solid black; */
    padding: 0;
}

.fotos p {
    font-size: 1rem;
}

.fotos p::first-line {
    color:#d60805
}

.testimonio {
    color: black;
    background-color: rgba(255,255,255,0.3);
    text-align: justify;
    padding: 1.6rem;
    margin: 0 1.6rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-style: italic;
    font-size: 1rem;
}

table {
    width: 100%;
}

/*_____ CONTACTO _____*/

#contacto {
    /* background-image: url(imgs/blackboard.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-image: linear-gradient(to bottom, #fff , #dc3545);
}


.p-contacto {
    padding: 25px;
    text-align: justify;
    color: #343A40;
    font-size: 1rem;
}

    /* formulario */
/* form {
    margin: 0 10px;
    font-family: monospace;
}

form label, form select, form input, form h3 {
    font-size: 1.2rem;
    padding: 2px;
    margin: 2px;
}
form select {
    color: rgba(78, 68, 68);
}
form label, form input, form h3 {
    color:white;
} */

.form-content {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.form-content label {
    margin: 15px 0 5px 0;
    font-weight: 600;
}

.form-content input[type="text"],
.form-content input[type="email"],
.form-content input[type="number"],
.form-content textarea,
.form-content select 
{
    background-color: #F5F5F5;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
    color: #343A40;
}

.form-content .contact-option {
    margin: 0px opx;
    font-weight: 100;
}

.form-content input[type="radio"] {
    margin-top: 0px;
    margin-right: 20px;
    font-size: small;
}

.form-content .metodo-de-contacto p {
    margin: 15px 0 -10px 0 ;
    font-size:medium;
    font-weight: 600;
}

.form-content button {
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    color: #343A40;
    background-color: gainsboro;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px 0;
    padding: 5px;
    transition: all 1.5s;
}

.form-content button:hover {
    background-color: #343A40;
    color: gainsboro;
    transform: scale(1.2);
}

.form-content .boton-enviar {
    display: flex;
    justify-content:space-evenly;
}

#submit {
    background-color: #d60805;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: monospace;
    font-size: 1.4rem;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

    /* mapa */
#mapa {
    float:right;
    padding: 20px;
}

/*_____ FOOTER _____*/
footer {
    text-align: right;
    padding-right: 1%; 
}

footer ul {
    list-style-type: none;
}

footer ul li {
    color: white;
    margin: 0;
}

.footer-items {
    line-height: 1.3rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

    /* icono wsp */
#wsp {
    position: fixed;
    bottom: 1.6rem;
    left: 1.6rem;
}

.fa-whatsapp {
    color:#fff;
    background:
    linear-gradient(#25d366,#25d366)4px 84%/7px 7px no-repeat,
    radial-gradient(#25d366 59%,transparent 0);
}

/* MEDIA QUERY */
/* Mobile */
/*
@media only screen and (max-width:400px) { /* Se aplica solo a dispositivos con pantallas de máximo 400px de ancho */
/*
    .nav-header{display: none;}
    .frase-nosotros{text-align: justify;}
    .fas{
        display: block;
        padding: 0.5rem 0.5rem;
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
    }
    .mobile-nav-header{
        display: block;
        background-color: #333;
    }
    .mobile-link{
        display: block;
        text-decoration: none;
        text-align: center;
        font-size: 1.8rem;
        font-family: 'Roboto Slab', serif;
        color: white;
        padding: 0.5rem;
    }
    .mobile-link:hover{
        color: #d60805;
    }
}

/* Tablet */
/*
@media only screen and (min-width:401px) and (max-width:960px) {
    .nav-header{display: none;}
    .fas{
        display: block;
        padding: 0.5rem 0.5rem;
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
    }
    .mobile-nav-header{
        display: block;
        background-color: #333;
    }
    .mobile-link{
        display: block;
        text-decoration: none;
        text-align: center;
        font-size: 1.8rem;
        font-family: 'Roboto Slab', serif;
        color: white;
        padding: 0.5rem;
    }
    .mobile-link:hover{
        color: #d60805;
    }
}
*/

/*  Desktop */
/*
@media only screen and (min-width:961px) {
    .fas{display:none;}
    .mobile-nav-header{display: none;}


    .nav-header {
        display: flex;
        justify-content: flex-end;
        flex: 2;
        flex-wrap: wrap;
        height: 100%;
        background-color: #333;
    }
    .nav-header a{
        display:flex;
        flex-wrap: wrap;
        color: white;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Roboto Slab', serif;
        margin: 0.15rem;
        padding: 0 0.5rem; 
    }
    
    .nav-header a:hover{
        text-decoration: underline;
    }
} */

/* Mobile and small tablet */
@media only screen and (max-width:600px) {
    .fotos-testimonios{justify-content: center;}
    .fotos {width: 80%;}
}

/* Big tablet and desktop */
@media only screen and (min-width:601px) {
    .fotos-testimonios{justify-content: space-between;}
    .fotos {width: 30%;}
}



